$bg-app-color: #8e8ed1;
$bg-auth-form-color: #dcebe9;
$bg-button-disabled: #676364;

$fonts-app-color: #ececec;
$fonts-auth-color: #35373a;
$fonts-app-error-color: red;
$fonts-app-disabled: #504949;

$hover-text-link-color: #8e8ed1;
$hover-auth-input-color: #8e8ed1;
$hover-auth-button-color: #616190;

$mobile-large: 460px;
