@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
}

.input {
  @include auth-input;
  box-sizing: border-box;

  width: 300px;
  height: 40px;

  padding: 0 5px;

  border: none;
  border-radius: 3px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $fonts-auth-color;
}

.error,
.valid {
  min-height: 14px;

  padding: 10px 2px 0 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: $fonts-app-error-color;
}

.valid {
  opacity: 0;
}

.notValid {
  background-color: red;
}

@media (max-width: $mobile-large) {
  .label {
    width: 280px;
  }

  .input {
    width: 280px;
    height: 30px;
  }

  .error,
  .valid {
    min-height: 11px;
    font-size: 11px;
    line-height: 11px;
  }
}
